<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "/">
        <h1>Home</h1>
    </a>
    
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="200pt" height="200pt" viewBox="0 0 1080.000000 720.000000"
            preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,720.000000) scale(0.180000,-0.130000)"
            fill="#000000" stroke="none">
            <path d="M0 3000 l0 -3000 3000 0 3000 0 0 3000 0 3000 -3000 0 -3000 0 0
            -3000z m3720 2675 l0 -25 -725 0 -725 0 0 25 0 25 725 0 725 0 0 -25z m-1540
            -49 c0 -72 29 -215 64 -318 93 -273 271 -462 512 -544 96 -32 270 -44 379 -25
            378 66 639 397 680 864 6 67 10 77 24 72 9 -4 28 -12 44 -17 24 -9 27 -15 27
            -57 0 -73 -29 -225 -62 -331 -78 -245 -222 -428 -413 -523 -251 -125 -590
            -127 -840 -5 -214 104 -370 312 -445 596 -18 64 -49 255 -50 299 0 14 60 43
            73 36 4 -2 7 -24 7 -47z m-80 -78 c52 -436 260 -742 579 -853 159 -56 380 -68
            556 -30 299 64 511 265 618 588 32 95 67 271 67 338 0 27 2 49 5 49 15 0 522
            -194 532 -204 9 -8 6 -46 -12 -164 -13 -84 -29 -228 -36 -320 -10 -142 -9
            -187 4 -302 20 -170 55 -361 113 -612 l45 -197 -39 -83 c-80 -169 -143 -399
            -173 -633 -29 -234 -3 -778 87 -1765 39 -432 93 -1013 98 -1038 l3 -22 -1548
            0 -1548 0 4 28 c11 58 111 1168 144 1602 71 898 66 1194 -25 1530 -31 115 -87
            268 -121 331 l-25 46 46 199 c58 254 93 444 112 614 19 161 9 371 -31 622 -14
            91 -20 157 -15 162 5 5 130 55 277 112 147 56 269 103 269 103 1 1 7 -45 14
            -101z m1617 30 c-29 -315 -179 -570 -398 -680 -105 -53 -192 -72 -329 -72
            -129 0 -217 21 -325 77 -74 39 -207 170 -254 250 -66 112 -116 277 -135 440
            l-6 47 727 0 726 0 -6 -62z m-2168 -328 c65 -453 51 -626 -110 -1318 -18 -80
            -25 -95 -46 -103 -13 -5 -150 -99 -304 -209 -154 -110 -283 -200 -288 -200 -4
            0 -55 66 -112 148 -57 81 -184 259 -282 396 l-178 250 23 21 c13 12 190 177
            393 367 204 190 483 451 620 580 149 140 253 231 256 224 4 -6 16 -76 28 -156z
            m3311 -186 c135 -127 391 -367 570 -534 179 -167 324 -307 323 -310 -1 -4 -60
            -88 -131 -186 -70 -98 -197 -277 -280 -396 l-153 -217 -285 204 c-157 113
            -292 205 -299 205 -8 0 -16 4 -19 9 -10 15 -94 388 -121 536 -48 263 -59 390
            -46 575 10 147 43 404 58 454 4 15 16 8 72 -46 36 -36 176 -168 311 -294z
            m1030 -967 c0 -18 -475 -662 -561 -761 -7 -8 -38 10 -103 59 -19 14 28 85 487
            733 l58 82 60 -52 c32 -29 59 -56 59 -61z m-5424 -249 c136 -194 262 -374 281
            -400 l34 -47 -46 -33 c-26 -18 -50 -33 -55 -33 -19 0 -570 736 -570 761 0 7
            98 101 107 104 1 0 113 -159 249 -352z"/>
            </g>
    </svg>    

    <form action="/makeShirt1" method="GET">
        <h3>Gender</h3>
        <input type="radio" value="Male" name="gender">
        <label for="gender">M</label><br>

        <input type="radio" value="Female" name="gender">
        <label for="gender">F</label><br>


        <h3>Size</h3>
        <input type="radio" value="XS" name="size">
        <label for="size">XS</label><br>

        <input type="radio" value="S" name="size">
        <label for="size">S</label><br>

        <input type="radio" value="M" name="size">
        <label for="size">M</label><br>

        <input type="radio" value="L" name="size">
        <label for="size">L</label><br>

        <input type="radio" value="XL" name="size">
        <label for="size">XL</label><br>
    </form>

    <a href = "/makeShirtText">Next</a>
</body>
</html>