<main>
    <section>
        <nav>
            <a class = "homeBtn" href = "/">
                <h1>Home</h1>
            </a>
        </nav>

        <br><br>

        <h3>Thanks for your order</h3>
        
        <br><br><br><br><br>

        <a href = "/">
            <p>Go home</p>
        </a>

        <br><br><br><br><br>

    </section>
</main>