*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #A0B2B2;
    margin: 0 auto;
    padding: 0;
}

svg{
    display: block;
}

p, h1, h2, h3, h4{
    color: white;
}

p{
    font-weight: 200;
    color: black;
    background-color: white;
    font-weight: 400;
}

body{
    /*
    width: 800px;
    height: 600px; */
}

h1{
    font-size: 3em;
    font-weight: 800;
}

h2{
    font-size: 2em;
    font-weight: 600;
    margin-top: 30px;
}

a{
    color: black;
    text-decoration: none;
    margin: 0 auto;
}

nav{
    width: 100vw;
    height: 75px;
    background-color: #5E5E5E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav h1{
    background-color: #5E5E5E;
    text-align: center;
}

nav .homeBtn{
    position: absolute;
    right: auto;
    margin-right: auto;
}

nav a{
    position: absolute;
    right : 0;
    margin-right: 25px;
    fill:white;
}

nav svg{
    background-color: #5E5E5E;
}

.makeShirtBtn{
    width: 200px;
    height: 200px;
    background-color: white;
    display: block;
    border: black solid 2px;
    margin-bottom: 20px;
}

.makeShirtBtn svg{
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(15px);
    background-color: white;
    transform: translateY(15px);
}

.displayShirt{
    width: 200px;
    height: 200px;
    background-color: white;
    display: block;
}

.shirts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.shirtDisplay{
    list-style: none;
    display: block;
    height: 280px;
    background-color: white;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    border: black solid 2px;
}

.shirtDisplay svg{
    width: 80%;
    height: 70%;
    background-color: white;
}

.shirtDisplay p{

}