*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #A0B2B2;
    margin: 0 auto;
    flex: 1 1 59;
    /* max-width:max-content; */
}

svg{
    display: block;
}

h1{
    font-size: 3em;
    font-weight: 800;
}

a{
    color: black;
    text-decoration: none;
    margin: 0 auto;
}

nav{
    width: 100vw;
    height: 100px;
    background-color: #5E5E5E;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav h1{
    background-color: #5E5E5E;
}

nav a{
    position: absolute;
    right : 0;
    margin-right: 25px;
}